<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AlphaFS" version="2.1.2" targetFramework="net462" />
  <package id="Commander.Fody" version="0.8.1.2" targetFramework="net462" />
  <package id="FluentCommandLineParser" version="1.4.3" targetFramework="net46" />
  <package id="Fody" version="1.29.4" targetFramework="net462" developmentDependency="true" />
  <package id="Gu.Wpf.Media" version="0.5.0.1" targetFramework="net462" />
  <package id="IconLib" version="0.80.0.0" targetFramework="net46" />
  <package id="ini-parser" version="2.3.0" targetFramework="net46" />
  <package id="JetBrains.Annotations" version="10.2.1" targetFramework="net462" />
  <package id="LoadAssembliesOnStartup.Fody" version="1.7.0" targetFramework="net462" developmentDependency="true" />
  <package id="MahApps.Metro" version="1.4.0" targetFramework="net462" />
  <package id="MahApps.Metro.IconPacks" version="1.6.0" targetFramework="net462" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net462" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net462" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net46" />
  <package id="Nito.AsyncEx.StrongNamed" version="4.0.1-pre" targetFramework="net462" />
  <package id="NLog" version="4.3.11" targetFramework="net462" />
  <package id="NLog.Schema" version="4.3.11" targetFramework="net462" />
  <package id="PostSharp" version="4.3.24" targetFramework="net462" />
  <package id="PostSharp.Patterns.Common" version="4.3.24" targetFramework="net462" />
  <package id="PostSharp.Patterns.Diagnostics" version="4.3.24" targetFramework="net462" />
  <package id="PostSharp.Patterns.Model" version="4.3.24" targetFramework="net462" />
  <package id="System.Runtime" version="4.0.20" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="net462" />
  <package id="Telerik.Windows.Controls" version="2016.3.914" targetFramework="net462" />
  <package id="Telerik.Windows.Controls.Data" version="2016.3.914" targetFramework="net462" />
  <package id="Telerik.Windows.Controls.GridView" version="2016.3.914" targetFramework="net462" />
  <package id="Telerik.Windows.Controls.Input" version="2016.3.914" targetFramework="net462" />
  <package id="Telerik.Windows.Controls.Navigation" version="2016.3.914" targetFramework="net462" />
  <package id="Telerik.Windows.Data" version="2016.3.914" targetFramework="net462" />
  <package id="YamlDotNet.Signed" version="4.0.0" targetFramework="net46" />
</packages>